* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
    scroll-behavior: smooth;
    text-decoration: none;
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

body {
    background-color: whitesmoke;
}

.header {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    color: orange;
    height: 60px;
    justify-content: space-between;
    text-decoration: none;
    position: fixed;
    z-index: 9;
}

.logo {
    font-size: 40px;
    color: orange;
    font-weight: 600;
    font-family: "Anton SC";
    text-decoration: none;
    padding-left: 10px;
}

.logo span {
    color: orangered;
}

.navbar>a {
    color: orange;
    justify-content: space-between;
    justify-content: end;
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
}

.tagpart {
    display: flex;
    width: 1030px;
    gap: 16px;
    padding: 10px;
}

.tag {
    width: 150px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #f9f9f9;
}

.tag:hover {
    transform: scale(1.05); 
}

.tag a {
    display: block;
    text-decoration: none;
    color: #333;
    flex: 0 0 70%;
}

.slide {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-bottom: 4px solid #e2e2e2;
}

@media (max-width: 768px) {
    .tag {
        flex: 0 0 70%; /* Cada item ocupa 70% da largura */
        width: 100%;
        grid-column: 1;
    }
}

@media (min-width: 769px) {
    .tag {
        flex: 0 0 30%; /* Em telas maiores, 30% da largura */
    }
}

p {
    padding-left: 30px;
    color: black;
}

.boxes {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.card {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    margin: 10px;
    background-color: white;
    width: 250px;
    height: 100%;
    border-radius: 15px;
    transition: transform .3s;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.150), 0 6px 15px 0 rgba(0, 0, 0, 0.150);

    &::after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.560), 0 6px 20px 0 rgba(0, 0, 0, 0.560);
      z-index: -1;
      border-radius: 15px;
    }
  
    &:hover,
    &:focus {
      transform: scale3d(1.02, 1.02, 1);
  
      &::after {
        opacity: 1;
      }
    }
  
}

.card a {
    text-align: center;
    justify-content: center;
}

.titlereceitas {
    color: white;
    position: absolute;
    text-align: center;
    bottom: 8px;
    left: 0;
    transition: 3s;
}


.card>img {
    display: flex;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    text-align: center;
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.574),#000000);
}