body {
    background-color: black;
    font-family: "Arial";
    color: #ffffff;
}

head {
    text-size-adjust: 40px;
}

.paragraph {
    width: 800px;
    line-height: 24px;
}

.image {
    width: 1000px;
}